
.chat-container {
    position: fixed;
    right: 20px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; 
    transition: width 0.3s ease; 
  }
  
  /* --------chat circulo------------*/
  /* .chat-container.circular {
    border-radius: 50%;
    background-color: yellow; 
  }
  
  .chat-container.rectangular {
    border-radius: 10px;
  }
   */
   /* chat.css */
.chat-container.circular {
    border-radius: 50%;
    width: 60px;
  }
  
  .chat-container.circular .chat-content {
    display: none;
  }
  
 
  
  .chat-container.circular .chat-header {
    cursor: pointer;
  }
  
  .chat-container.circular .chat-input {
    display: none;
  }
  
  .chat-container.rectangular {
    width: 20%;
    height: 50%;
    border-radius: 10px;
  }
  
  .chat-container.rectangular .chat-input {
    display: block;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .chat-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85%; 
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }
  

  .chat-container.rectangular .chat-content {
    background-color: #fff;
  }
  
  .chat-messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-input {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chat-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  