.chat-container {
  position: fixed;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* width: 300px; */
  transition: width 0.3s ease;
}

.chat-container.circular {
  border-radius: 50%;
  width: 8%;
  height: 5%;
}

.chat-container.circular .chat-content {
  display: none;
}

.chat-container.circular .chat-header {
  cursor: pointer;
}

.chat-container.circular .chat-input {
  display: none;
}

.chat-container.rectangular {
  width: 20%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-container.rectangular .chat-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

.chat-header {
  background-color: #3498db;
  color: #fff;
  padding: 5%;
  text-align: center;
  cursor: pointer;
}

.chat-content {

  height: 85%;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.chat-container.rectangular .chat-content {
  background-color: #fff;
}

.chat-messages {
  max-height: 300px;
  overflow-y: auto;
  padding: 2%;
}

.chat-input {
  width: 100%;
  padding: 2%;
  margin: 0 10%;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  align-self: flex-end;
}

.chat-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  /* padding: 5px 10px; */
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}


